body {
    margin: 0 0 0 0;
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #DFF6FF;
    text-align: center;
}

h1 {
    font-family: 'Sacramento', cursive;
}

h1 {
    margin: 50px auto 0 auto ;
    color: #66BFBF;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

p {
    font-size: 20px;
}

a {
    color: #11999E;
}


.bottom-cloud {
    position: absolute;
    left: 700px;
    bottom: 300px;
    height: 50px;
}

.top-cloud  {
    position: absolute;
    right: 700px;
    top: 50px;
}

.top-container {
    position: relative;
    padding-top: 100px;
    text-align: center;
}

.middle-container {
    text-align: center;
}

.bottom-container {
    text-align: center;
}

.normalfont {
    font-family: 'Montserrat', sans-serif;
}

.profilowe {
    height: 150px;
    border-radius: 50%;
}

.contact {
    text-align: center;
}

.image {
    height: 100px;
    border-radius: 25%;
    padding: 20px;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.skill-row-image {
    width: 25%;
    border-radius: 25%;
}
